<%= provide :title, t("list_comments") %>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="overflow_hidden">
          <h1 class="float_left"><%= t "list_comments" %></h1>
        </div>
        <div class="nav search-row" id="top_menu">
          <%= form_tag admin_comments_path, method: :get do %>
            <%= text_field_tag :description, params[:description], class: "form-control sinput",placeholder: t("Enter_name") %>
            <%= button_tag type: "submit", class: "btn btn-primary", name: nil do %>
              Search
            <% end %>
          <% end %>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <%= t "user_name" %>
              </th>
              <th>
                <%= t "product_name" %>
              </th>
              <th>
                <%= t "comment_description" %>
              </th>
              <th>
                <%= t "create date" %>
              </th>
              <th>
                <%= t "actions" %>
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render @comments %>
          </tbody>
        </table>
        <div class="margin_bottom20px float_right">
          <%= paginate @comments, theme: 'twitter-bootstrap-3' %>
        </div>
      </div>
    </div>
  </div>
</div>
