<% provide(:title, t("login")) %>
<div class="login">
  <div class="login__check"><%= image_tag("logo.png", :alt => "") %></div>
  <div class="login__form">
    <%= form_for(:session, url: admin_login_path) do |f| %>
    <div class="login__row">
      <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
        <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
      </svg>
      <%= f.email_field :email, class: "login__input name", placeholder: "Username" %>
    </div>
    <div class="login__row">
      <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
        <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
      </svg>
      <%= f.password_field :password, class: "login__input pass form-control", id: "Passwod", placeholder: "Password" %>
      <i class="view-pass fa fa-eye" style="  display: none;"></i>
    </div>
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> danger_login"><%= message %></div>
    <% end %>
    <%= f.submit t("login"), class: "login__submit" %>
    <% end %>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
        $('.login__input').keyup(function() {
            if ($('#Passwod').val().length > 0) {
                $('.view-pass').show();
            } else {
                $('.view-pass').hide();
            }
        });
        $('.view-pass').mousedown(function() {
            $('#Passwod').attr('type', 'text');
        });
        $('.view-pass').mouseup(function() {
            $('#Passwod').attr('type', 'password');
        });


    });
</script>
