<tr>
  <td>
    <%= order.id %>
  </td>
  <td>
    <%= order.user.name %>
  </td>
  <td>
    <%= order.status == true ? "checked":"unchecked" %>
  </td>
  <td>
    <%= order.created_at.strftime("%Y-%m-%d") %>
  </td>
  <td>
    <%= link_to t("show"), edit_admin_order_path(order), class: "btn btn-primary" %>
    <%= link_to t("delete"), admin_order_path(order), method: :delete,
    data: {confirm: t("confirm")}, class: "btn btn-danger" %>
  </td>
</tr>
