<%= provide :title, t("list_orders") %>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="overflow_hidden">
          <h1 class="float_left"><%= t "list_orders" %></h1>
        </div>
        <div class="nav search-row" id="top_menu">
          <%= form_tag admin_orders_path, method: :get do %>
            <%= select_tag :status, options_for_select([['pending', 0], ['checked', 1], ['shipped', 2]]),
           {class: "form-control search_statuses width_form",include_blank: "Choose status"} %>
            <%= button_tag type: "submit", class: "btn btn-primary", name: nil do %>
              Search
            <% end %>
          <% end %>
          <h3 class="title"><strong><%= t "Total Users" %></strong>: <span class="red_color"><%= @orders.present? ? @orders.size : "0" %></span> </h3>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <%= t "STT" %>
              </th>
              <th>
                <%= t "customer" %>
              </th>
              <th>
                <%= t "status" %>
              </th>
              <th>
                <%= t "book date" %>
              </th>
              <th>
                <%= t "actions" %>
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render "order", orders: @orders %>
          </tbody>
        </table>
        <div class="margin_bottom20px float_right">
          <%= paginate @orders, theme: 'twitter-bootstrap-3' %>
        </div>
      </div>
    </div>
  </div>
</div>
