<tr>
  <td><%= history.address %></td>
  <td><%= history.phone %></td>
  <td><%= history.status %></td>
  <td><%= time_ago_in_words history.created_at %></td>
  <td><%= link_to t("Show"), history_path(history) %></td>
</tr>
