<tr>
  <td>
    <%= product.id %>
  </td>
  <td>
    <%= image_tag product.images.url if product.images? %>
  </td>
  <td>
    <%= product.name %>
  </td>
  <td>
    <%= product.status == true ? "In stock":"Out of stock" %>
  </td>
  <td>
    <%= product.created_at.strftime("%Y-%m-%d") %>
  </td>
  <td>
    <%= link_to t("edit"), edit_admin_product_path(product), class: "btn btn-primary" %>
    <%= link_to t("delete"), admin_product_path(product), method: :delete,
    data: {confirm: t("confirm")}, class: "btn btn-danger" %>
  </td>
</tr>
