<%= provide :title, t("list_products") %>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="overflow_hidden">
          <h1 class="float_left"><%= t "list_products" %></h1>

          <%= link_to t("add_product"), new_admin_product_path, class: "btn btn-primary float_right" %>
        </div>
        <div class="nav search-row" id="top_menu">
          <%= form_tag admin_products_path, method: :get do %>
            <%= text_field_tag :search, params[:search], class: "form-control sinput",placeholder: t("Enter_name") %>
            <div style="clear:both">
              <%= label_tag "Select category" %>
            </div>
              <%= select_tag :category_id, options_for_select(@categories),
                 {class: "form-control",include_blank: "Choose category"} %>
            <div style="clear:both">
              <%= label_tag "Select status" %>
            </div>
              <%= select_tag :status, options_for_select([['Stock', 1], ['Out of stock', 0]]),
             {class: "form-control",include_blank: "Choose status"} %>
            <%= button_tag type: "submit", class: "btn btn-primary", name: nil do %>
              Search
            <% end %>
          <% end %>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <%= t "cateogries" %>
              </th>
              <th>
                <%= t "images" %>
              </th>
              <th>
                <%= t "product name" %>
              </th>
              <th>
                <%= t "Status" %>
              </th>
              <th>
                <%= t "Create Date" %>
              </th>
              <th>
                <%= t "actions" %>
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render @products %>
          </tbody>
        </table>
        <div class="margin_bottom20px float_right">
          <%= paginate @products, theme: 'twitter-bootstrap-3' %>
        </div>
      </div>
    </div>
  </div>
</div>
