<%= provide :title, t("list_users") %>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="overflow_hidden">
          <h1 class="float_left"><%= t "list_users" %></h1>
          <%= link_to t("add_user"), new_admin_user_path, class: "btn btn-primary float_right" %>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <%= t "users" %>
              </th>
              <th>
                <%= t "images" %>
              </th>
              <th>
                <%= t "email" %>
              </th>
              <th>
                <%= t "role" %>
              </th>
              <th>
                <%= t "actions" %>
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render @users %>
          </tbody>
        </table>
        <div class="margin_bottom20px float_right">
          <%= paginate @categories, theme: "twitter-bootstrap-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
